.contact-container {
  width: 100%;
  padding: 5rem;
  .contact-main {
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    .contact-left {
      padding: 0.5rem 1rem;
      //   background-color: red;
      width: 30%;
      border-right: 1px solid gray;
      .contact-left-top {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid gray;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .contact-left-top-one {
          display: flex;
          align-items: center;
          gap: 1rem;
          h2 {
            font-size: 1.1rem;
            font-weight: 700;
          }
          img {
            height: 2.5rem;
            width: 2.5rem;
            border: 1px solid black;
            border-radius: 50%;
          }
        }
      }
      .contact-left-bottom {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .contact-left-bottom-one {
          display: flex;
          align-items: center;
          gap: 1rem;
          h2 {
            font-size: 1.1rem;
            font-weight: 700;
          }
          img {
            height: 2.5rem;
            width: 2.5rem;
            border: 1px solid black;
            border-radius: 50%;
          }
        }
      }
    }
    .contact-right {
      //   background-color: red;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-evenly;
      padding: 0 1rem;
      gap: 1rem;
      .contact-right-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
        input {
          color: black;
          width: 32%;
          height: 3rem;
          font-size: 1.2rem;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          background-color: rgb(228, 228, 228);

          &:focus {
            outline: none;
          }
        }
      }
      .contact-right-mid {
        width: 100%;
        padding: 0 0.5rem;
        textarea {
          font-size: 1.2rem;
          width: 100%;
          height: 9rem;
          background-color: rgb(228, 228, 228);
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          &:focus {
            outline: none;
          }
        }
      }
      .contact-right-bottom {
        padding: 0 0.5rem;
        button {
          background-color: #3182ce;
          border: 1px solid #3182ce;
          color: white;
          font-size: 1.1rem;
          font-weight: 500;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          transition: all 0.1s linear;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
