@import url("./individualHeaderComponent.scss");
@import url("./about.scss");
@import url("./individualSkills.scss");
@import url("./indivProj.scss");
@import url("./mainSection.scss");
@media screen and (max-width: 700px) {
  .header-comp {
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
  .skill-container {
    justify-content: center;
    ul {
      justify-content: center;
    }
  }
}
@media screen and (max-width: 700px) {
  .main-parent {
    height: auto;
    padding: 4rem 0.9rem;

    .main-section {
      flex-direction: column-reverse;
      text-align: center;
      gap: 1rem;
      .left {
        width: 100%;
      }
      ul {
        justify-content: center;
      }
    }
  }
  .indiv-project,
  .indiv-project2 {
    flex-direction: column-reverse;
    .indiv-proj-right {
      h1 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.15rem;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .header-comp {
    ul {
      display: none;
    }
    .header-right {
      display: block;
    }
  }
}
@media screen and (max-width: 450px) {
  .header-comp {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media screen and (max-width: 568px) {
  .skill-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      &::after {
        content: "";
      }
      text-decoration: underline;
    }
    ul {
      margin-top: 1rem;
    }
  }
}
@media screen and (max-width: 378px) {
  .main-parent {
    .main-section {
      .left {
        h1 {
          font-size: 2.3rem;
          line-height: 2.4rem;
        }
        p {
          font-size: 1.05rem;
        }
      }
    }
  }
  .indiv-main {
    .proj-heading {
      font-size: 2.3rem;
    }
  }
  .indiv-project,
  .indiv-project2 {
    .indiv-proj-right {
      h1 {
        font-size: 1.65rem;
      }
      h3 {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (max-width: 290px) {
  .main-parent {
    .main-section {
      .left {
        h1 {
          font-size: 2rem;
          line-height: 2.2rem;
        }
        p {
          font-size: 0.95rem;
        }
      }
    }
  }
  .indiv-main {
    .proj-heading {
      font-size: 2.1rem;
    }
  }
  .indiv-project,
  .indiv-project2 {
    .indiv-proj-right {
      h1 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 0.85rem;
      }
    }
  }
}
@media screen and (max-width: 232px) {
  .main-parent {
    .main-section {
      .left {
        h1 {
          font-size: 1.8rem;
          line-height: 2rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
  .indiv-main {
    .proj-heading {
      font-size: 1.9rem;
    }
  }
  .indiv-project,
  .indiv-project2 {
    .indiv-proj-right {
      h1 {
        font-size: 1.35rem;
      }
      h3 {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .indiv-blog {
    flex-direction: column-reverse;
    .indiv-blog-right {
      h1 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.15rem;
      }
    }
  }
}
@media screen and (max-width: 545px) {
  .indivBlog-main {
    .blog-heading {
      font-size: 2.3rem !important;
    }
  }
}
@media screen and (max-width: 545px) {
  .indiv-blog {
    .indiv-blog-right {
      h1 {
        font-size: 1.5rem !important;
      }
      h3 {
        font-size: 0.85rem !important;
      }
    }
  }
}
@media screen and (max-width: 497px) {
  .indivBlog-main {
    .blog-heading {
      font-size: 2.1rem !important;
    }
  }
  .indiv-blog {
    .indiv-blog-right {
      h1 {
        font-size: 1.35rem !important;
      }
      h3 {
        font-size: 0.65rem !important;
      }
    }
  }
}
@media screen and (max-width: 473px) {
  .indivBlog-main {
    padding: 2rem !important;
    .blog-heading {
      font-size: 2.1rem !important;
    }
  }
  .indiv-blog {
    padding: 0.5rem 1rem !important;
    .indiv-blog-right {
      h1 {
        font-size: 1.25rem !important;
        text-align: center;
      }
      h3 {
        font-size: 0.6rem !important;
        text-align: center;
      }
      .links {
        .indiv-blog-right-btn {
          font-size: 0.85rem;
        }
      }
    }
  }
}

//CONTACT FORM
@media screen and (max-width: 950px) {
  .contact-container {
    .contact-main {
      .contact-right {
        gap: 1rem;
        width: 100%;
        .contact-right-top {
          flex-direction: column;
          gap: 1rem;
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 810px) {
  .contact-container {
    .contact-main {
      flex-direction: column;
      .contact-left {
        width: 100% !important;
        border-right: none !important;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .contact-left-top {
          width: 50%;
          border-bottom: none !important;
        }
        .contact-left-bottom {
          width: 50%;
          padding-top: 0 !important;
        }
      }
    }
    .contact-right {
      margin-top: 1rem;
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 670px) {
  .contact-container {
    .contact-main {
      .contact-left {
        .contact-left-top {
          .contact-left-top-one {
            h2 {
              font-size: 0.9rem !important;
            }
            img {
              height: 2rem !important;
              width: 2rem !important;
            }
          }
          .removeCall {
            display: none;
          }
          p {
            font-size: 0.9rem;
          }
        }
        .contact-left-bottom {
          .contact-left-bottom-one {
            h2 {
              font-size: 0.9rem !important;
            }
            img {
              height: 2rem !important;
              width: 2rem !important;
            }
          }
          .removeMail {
            display: none;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 621px) {
  .contact-container {
    padding: 2.5rem !important;
    .contact-main {
      flex-direction: column-reverse;
      .contact-left {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        .contact-left-top {
          width: 100%;
          .contact-left-top-one {
            h2 {
              font-size: 0.9rem !important;
            }
            img {
              height: 2rem !important;
              width: 2rem !important;
            }
          }
          .removeCall {
            display: none;
          }
          p {
            font-size: 0.9rem;
          }
        }
        .contact-left-bottom {
          width: 100%;
          .contact-left-bottom-one {
            h2 {
              font-size: 0.9rem !important;
            }
            img {
              height: 2rem !important;
              width: 2rem !important;
            }
          }
          .removeMail {
            display: none;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
      .contact-right {
        align-items: center !important;
        padding: 0 0 0 0 !important;
        width: 100%;
        // background-color: red;
        .contact-right-top {
          padding: 0 0 0 0 !important;
          input {
            width: 100% !important;
            font-size: 0.8rem !important;
          }
        }
        .contact-right-mid {
          padding: 0 0 0 0 !important;
          textarea {
            width: 100%;
            font-size: 0.8rem !important;
          }
        }
      }
    }
  }
}
