@import url("./individualHeaderComponent.scss");
@import url("./about.scss");
@import url("./individualSkills.scss");
@import url("./indivProj.scss");
@import url("./mainSection.scss");
@media screen and (max-width: 700px) {
  .header-comp {
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
  .skill-container {
    justify-content: center;
    ul {
      justify-content: center;
    }
  }
}
@media screen and (max-width: 700px) {
  .main-parent {
    height: auto;
    padding: 4rem 0.9rem;

    .main-section {
      flex-direction: column-reverse;
      text-align: center;
      gap: 1rem;
      .left {
        width: 100%;
      }
      ul {
        justify-content: center;
      }
    }
  }
  .indiv-project {
    flex-direction: column-reverse;
    .indiv-proj-right {
      h1 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.15rem;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .header-comp {
    ul {
      display: none;
    }
    .header-right {
      display: block;
    }
  }
}
@media screen and (max-width: 450px) {
  .header-comp {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .skill-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      &::after {
        content: "";
      }
      text-decoration: underline;
    }
    ul {
      margin-top: 1rem;
    }
  }
}
@media screen and (max-width: 378px) {
  .main-parent {
    .main-section {
      .left {
        h1 {
          font-size: 2.3rem;
          line-height: 2.4rem;
        }
        p {
          font-size: 1.05rem;
        }
      }
    }
  }
  .indiv-main {
    .proj-heading {
      font-size: 2.3rem;
    }
  }
  .indiv-project {
    .indiv-proj-right {
      h1 {
        font-size: 1.65rem;
      }
      h3 {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (max-width: 290px) {
  .main-parent {
    .main-section {
      .left {
        h1 {
          font-size: 2rem;
          line-height: 2.2rem;
        }
        p {
          font-size: 0.95rem;
        }
      }
    }
  }
  .indiv-main {
    .proj-heading {
      font-size: 2.1rem;
    }
  }
  .indiv-project {
    .indiv-proj-right {
      h1 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 0.85rem;
      }
    }
  }
}
@media screen and (max-width: 232px) {
  .main-parent {
    .main-section {
      .left {
        h1 {
          font-size: 1.8rem;
          line-height: 2rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
  .indiv-main {
    .proj-heading {
      font-size: 1.9rem;
    }
  }
  .indiv-project {
    .indiv-proj-right {
      h1 {
        font-size: 1.35rem;
      }
      h3 {
        font-size: 0.8rem;
      }
    }
  }
}
